@charset "UTF-8";

/* 

orientation: landscape => Deitado == Paisagem
orientation: portrait => Em pé == Retrato


pequenas telas: ate 600px
max-width: 600px

celular: 600px - 768px
min-width: 600px max-width: 768px

tablet: 768px- 992px
min-width: 768px max-width: 992px

desktop: 992px - 1200px
min-width: 992px max-width: 1200px

telas grandes: 1200px- xxx px
min-width: 1200px
*/

:root {

    /* Cores */
    --cor-principal: #bebebe;
    --cor-secundaria: #8F8F8F;
    --cor-terciaria: #323232;

    --cor-secA: #FF4D4D;
    --cor-secB: #1B3A24;
    --cor-secC: #4F2B2B;

    --cor-terA: #58316C;
    --cor-terB: #8F5DA8;
    --cor-terC: #819345;

    /* Fontes */
    
    --fonte-principal: Arial, Helvetica, sans-serif;
    --fonte-secundaria: 'Courier New', Courier, monospace

}

@media screen and (max-width: 992px) and (orientation: landscape) {
    section#login {
        background-color: var(--cor-secundaria);
        width: 550px;
        height: 320px;
        border-radius: 20px;
        position: absolute;
        top: 50%;
        left: 50%;
        overflow: hidden;
        box-shadow: 3px 3px 10px #00000073;
        transform: translate(-50%, -50%);
    }

    section#login > div#imagem {
        float: right;
        width: 35%;
        height: 100vh;
        background-size: cover;
        background-position: right center;
    }

    section#login > div#formulario {
        float: right;
        width: 65%; 
    }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
    body, html {
        background-image: linear-gradient(to bottom, var(--cor-secC), var(--cor-terA), var(--cor-terB));
    }
    section#login {
        width: 85vw;
        height: 320px;
        background-color: var(--cor-principal);
        transition: width .3s, height .3s;
        transition-timing-function: ease;
    }

    section#login > div#imagem {
        background: url(../imgs/pexels-img-login-atualizada.jpg) no-repeat;
        background-size: cover;
        background-position: right center;
        width: 40%;
        height: 100%;
        float: left;
    }
    section#login > div#formulario {
        float: right;
        width: 60%;
        
    }

    input#ilogin, input#isenha {
        width: 80%;
    }
}

@media screen  and (min-width: 992px) {

    body {
        background-image: linear-gradient(to bottom, var(--cor-secC), var(--cor-terA), var(--cor-secB));
    }
    section#login {
        width: 900px;
        height: 350px;
        background-color: var(--cor-principal);
        transition: width .3s, height .3s;
        transition-timing-function: ease;
    }

    section#login > div#imagem {
        background: url(../imgs/pexels-img-login-atualizada.jpg) no-repeat;
        background-size: cover;
        background-position: center top;
        width: 50%;
        height: 100%;
        float: right;
    }
    section#login > div#formulario {
        float: left;
        width: 50%;
        
    }

    input#ilogin, input#isenha {
        width: 80%;
    }
}

